@font-face {
  font-family: 'Staatliches';
  src: url('./assets/fonts/Staatliches-Regular.ttf') format('truetype');
}

* {
  font-family: 'Staatliches';
}

#error-page {
  background: url('./assets/img/404_img.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
}

#welcome-page {
  background-color: #fff;
  height: 100vh;
}

.pro-side {
  background: url('./assets/img/light/helmet.svg') no-repeat center #fff;
  background-size: 90% 80%;
  transition: 0.2s background ease-in;
}

.pro-side:hover {
  background: url('./assets/img/light/helmet.svg') no-repeat center #e5383b;
  background-size: 90% 80%;
}

.newbie-side {
  background: url('./assets/img/light/question_mark.svg') no-repeat center #fff;
  background-size: 60% 80%;
  transition: 0.2s background ease-in;
}

.newbie-side:hover {
  background: url('./assets/img/light/question_mark.svg') no-repeat center #e5383b;
  background-size: 60% 80%;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
